# dev.tfvars
deployment_environment = "production"
domain                 = "beamup.com"
swarm_nodes            = "3" #It's been tested with 1 and 3 nodes
region                 = "EU-Nord-1"
deployer_plan_slug     = "E3-1240V3" # ID 86
swarm_plan_slug        = "E3-1240V5" # ID 113

# user_password_hash is Required
# The password hash can be generated with `mkpasswd --method=sha-512`
# https://docs.ansible.com/ansible/latest/reference_appendices/faq.html#how-do-i-generate-encrypted-passwords-for-the-user-module
#user_password_hash = "$6$pbhWc9xT8h6aAZQH$IatvugXNCO6rCuf8zkDZtYrl0r.kAw8HwoVCy7hQSOHWACM.v1QWtoko6lOQi2S1op87ybnwSKXgWincsNB481" # Example with password: ChangeMeOrDie!
