---
- name: playbook | Update index of apt
  hosts: all
  tasks:
    - name: Wait for cloud-init to complete (if available)
      ansible.builtin.command: cloud-init status --wait
      changed_when: false
      failed_when: false

    #Required so gnupg2 can be found and installed
    #https://github.com/geerlingguy/ansible-role-docker/pull/406#issuecomment-1601962250
    - name: task | Update apt cache
      apt:
        update_cache: yes
        lock_timeout: 600
        update_cache_retries: 10
        update_cache_retry_max_delay: 30

    - name: Update all packages to their latest version
      ansible.builtin.apt:
        name: "*"
        state: latest
        lock_timeout: 600
