- hosts: deployer
  tasks:
    - name: Upload deployer script
      copy:
        src: ../../scripts/beamup-setup-deployer
        dest: /usr/local/bin/
        mode: 0700

    - name: Run the deployer setup script
      shell: 'DOMAIN={{ domain }} /usr/local/bin/beamup-setup-deployer'

    - name: Copy the dokku beamup plugin structure
      copy:
        src: ../../dokku-plugins/beamup-trigger-swarm-sync
        dest: /var/lib/dokku/plugins/available
        mode: 0755

    - name: Generate the dokku beamup plugin post-deploy script
      template:
        src: ../templates/beamup-trigger-swarm-sync/post-deploy.j2
        dest: /var/lib/dokku/plugins/available/beamup-trigger-swarm-sync/post-deploy
        mode: 0755

    - name: Enable the beamup dokku plugin
      file:
        src: /var/lib/dokku/plugins/available/beamup-trigger-swarm-sync
        dest: /var/lib/dokku/plugins/enabled/beamup-trigger-swarm-sync
        state: link

    - name: Install the beamup scripts [1/2]
      copy:
        src: ../../scripts/beamup-entry
        dest: /usr/local/bin/
        mode: 0755

    - name: Install the beamup scripts [2/3]
      copy:
        src: ../../scripts/beamup-sync-keys
        dest: /usr/local/bin/
        mode: 0755

    - name: Install the beamup scripts [3/3]
      copy:
        src: ../../scripts/beamup-ban-user
        dest: /usr/local/bin/
        mode: 0755

    - name: Install the beamup-sync scripts [1/3]
      copy:
        src: ../../scripts/beamup-sync/beamup-sync.sh
        dest: /usr/local/bin/beamup-sync
        mode: 0755

    - name: Install the beamup-sync scripts [2/4]
      copy:
        src: ../../scripts/beamup-sync/beamup-common.sh
        dest: /usr/local/lib/beamup/beamup-common
        mode: 0755

    - name: Install the beamup-sync scripts [3/4]
      copy:
        src: ../../scripts/beamup-sync/beamup-backup.sh
        dest: /usr/local/lib/beamup/beamup-backup
        mode: 0755

    - name: Install the beamup-sync scripts [4/4]
      copy:
        src: ../../scripts/beamup-sync/beamup-restore.sh
        dest: /usr/local/lib/beamup/beamup-restore
        mode: 0755

    - name: template | Generate bash script beamup-delete-addon
      template:
        src: ../templates/beamup-delete-addon.j2
        dest: /usr/local/bin/beamup-delete-addon
        mode: 0755

    - name: Upload deployer SSH swarm key for user dokku
      copy:
        src: ../../id_ed25519_deployer_sync
        dest: /home/dokku/.ssh/id_ed25519_sync
        mode: 0600
        owner: dokku
        group: dokku
